<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlProduction.Properties.Settings.ProductionConnectionString"
            connectionString="Data Source=JC;Initial Catalog=Production;Persist Security Info=True;User ID=sa;Password=ss123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>